:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-text: #414143;

  --color-white: #ffffff;

  --color-grey-0: #f4f4f4;
  --color-grey-1: #d0d0d0;
  

  --color-dolphin-aqua: #008E97;
  --color-dolphin-blue: #005778;
  --color-dolphin-orange: #FC4C02;
  --color-text-primary: #121214;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

.app-container {
  margin: 0 auto;
}
